.content {
  padding: 3% 10%;
}

.custom-navbar {
  background-color: #4f518c;
}

.custom-footer {
  background-color: #4f518c;
}

.logo {
  width: 3%;
  height: auto;
}

.ini-with-bg {
  background-image: url('../assets/images/inicio.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.block-soft-purple {
  background-color: #DABFFF;
  position: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.block-translucid-soft-purple {
  background: rgb(218, 191, 255, .8);
  position: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.block-dark-purple {
  color: black;
  background-color: #907AD6;
  position: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.btn-dark-purple {
  color: black;
  background-color: #907AD6;
  position: center;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center; 
}

.btn-soft-purple {
  color: black;
  background-color: #DABFFF;
  position: center;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center; 
}

.custom-separation {
  margin-top: 10%;
  margin-bottom: 25%;
}

.btn-link {
  text-decoration: none;
  color: black;
}

.card {
  height: 105%;
}

.card-title {
  height: 20%;
}

.row {
  margin-bottom: 5%;
}

.error-message {
  color: red;
}

.justified-text {
  text-align: justify;
}