.custom-navbar {
  background-color: #4f518c;
}

.custom-footer {
  background-color: #4f518c;
}

.logo {
  width: 3%;
  height: auto;
}

.ini-with-bg {
  background-image: url('../assets/images/inicio.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.block-translucid-soft-purple {
  background-color: #DABFFF;
  position: center;
  width: fit-content;
  height: fit-content;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.block-translucid-dark-purple {
  background-color: #907AD6;
  position: center;
  width: fit-content;
  height: fit-content;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content-of-translucid-block {
  opacity: 1;
}

.custom-separation {
  margin-top: 10%;
  margin-bottom: 25%;
}


.btn-link {
  text-decoration: none;
  color: black;
}